body {
  background-color: #2f5a8c;
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Caveat', cursive;
  font-size: 5.625rem;
  margin-bottom: 10px;
  color: #2f5a8c;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  color: #2f5a8c;
  font-weight: bolder;
}

h3 {
  padding-top: 15px;
  color: #2f5a8c;
}

hr {
  border-style: dotted none none;
  border-color: #e72818;
  border-width: 4px;
  height: 0;
  width: 30%;
}

p {
  color: black;
  font-weight: 400;
  line-height: 2;
}

a {
  color: #efefee;
}

.heading {
  z-index: 3;
  position: relative;
}

.top {
  background-color: #a9cdd4;
  position: relative;
  padding-top: 77px;
  width: 100%
}

.middle {
  background-color: #efefee;
  display: block;
  ;
  height: 1400px;
}

.bottom {
  background-color: #2f5a8c;
  display: block;
}

.cloud1 {
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 100px;
  width: 25%;
}

.cloud2 {
  position: absolute;
  width: 350px;
  right: 50px;
}

.pdesign {
  margin: 0 10px;
}

a:hover {
  color: #e72818;
}

.grad {
  visibility: hidden;
  margin: 4px 0 8px 0;
  font-size: .8rem;
}

.self:hover+.grad {
  visibility: visible;
}

.heading {
  margin-top: 50px;
  color: #28527a;
  font-weight: normal;
  line-height: 1.5;
}

.second-heading {
  font-size: 1.8rem;
  color: #28527a;
  font-weight: normal;
}

.logo {
  margin-bottom: -5px;
}

.skill-row1 {
  width: 50%;
  margin: 60px auto;
  text-align: left;
  padding-top: 40px;
}

.skill-row2 {
  width: 50%;
  margin: 60px auto;
  text-align: left;
  padding-bottom: 40px;
}

.design-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.social-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.self {
  width: 14%;
  margin-top: 40px;
}

.intro {
  width: 30%;
  margin: 0 auto 40px auto;
}

.my-skills {
  margin: 40px auto 0;
}

.mountain {
  width: 70%;
  margin-bottom: -4px;
  position: relative;
  right: 20px;
}

.hello {
  color: #2f5a8c;
}

.contact-heading {
  color: #efefee;
}

.contact-p {
  color: #efefee;
}
